body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    width: 600px; /* Adjust container width as needed */
    max-width: 90%; /* Ensure container does not exceed 90% of viewport width */
    margin: 0 auto; /* Center align container */
    display: flex; /* Use flexbox to control layout */
    flex-direction: column; /* Align items vertically */
}

h1 {
    color: #333;
}

.input-container, .output-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%; /* Make both containers take full width */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.input-container {
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    margin-top: 5px;
    padding: 8px;
    width: calc(100% - 20px); /* Adjust input width to accommodate padding */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.divider {
    height: 1px;
    background-color: #ccc;
    margin: 20px 0; /* Adjust margin as needed */
}

.output-container {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-top: 20px;
    flex-wrap: wrap; /* Allow items to wrap if they exceed container width */
}

h2 {
    margin-top: 0;
    color: #333;
}

.output {
    margin-top: 10px;
    padding: 10px;
    min-height: 200px; /* Increased minimum height for better readability */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    white-space: pre-wrap;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

/* Add this style for the example box */
.example-box {
    display: none; /* Initially hidden */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: left;
    transition: all 0.3s ease; /* Smooth transition */
    width: 100%; /* Take full width */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.example-box.show {
    display: block; /* Display when 'show' class is applied */
}

.example-box h2 {
    color: #333;
    margin-top: 0;
}

.example-box ul {
    list-style-type: none;
    padding: 0;
}

.example-box li {
    margin-bottom: 10px;
    font-size: 16px;
}
